<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Den</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="flex-container">
        <div><button onclick="location.href='/dnd/main'">DnD</button></div>
        <div><button onclick="location.href='/wip'">Events</button></div>
        <div><button onclick="location.href='/wip'">Events</button></div>
        <div><button onclick="location.href='/wip'">Events</button></div>
    </div>
    <div class="center">
        <h1>Dragons Den</h1>
    </div>
    {% if user %}
        {{ user }}
    {% endif %}


</body>
</html>